<section class="book-ride container-fluid py-3 px-5">
    <div class="top-side mb-5">
        <img src="../../../assets/images/logo.png" alt="Logo is not loaded" id="logo" />
        <img src="../../../assets/images/user-profile.png" alt="User image is not loaded" id="profileImg" />
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 w-auto">
            <div class="ride-card">
                <div class="top d-flex align-items-center justify-content-between">
                    <div class="heading">
                        <h1>Book a ride</h1>
                        <p>we get you the matches asap !</p>
                    </div>
                    <div class="toggleBtn">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                        </div>
                    </div>
                </div>
                <div class="input-container my-4 d-flex">
                    <div class="input-field w-100">
                        <form action="" id="my-form">
                            <div>
                                <p class="input-heading mt-0">From</p>
                                <input type="text" placholder />
                            </div>
                            <div>
                                <p class="input-heading">To</p>
                                <input type="text" placholder />
                            </div>
                            <div>
                                <p class="input-heading">Date</p>
                                <input type="text" placholder="xx/mm//yyyy" id="date" />
                            </div>
                        </form>
                    </div>
                    <div class="src-dst-img justify-content-start px-0 d-flex flex-column align-items-center">
                        <i class="bi bi-circle-fill source-img"></i>
                        <i class="bi bi-circle-fill path-img"></i>
                        <i class="bi bi-circle-fill path-img"></i>
                        <i class="bi bi-circle-fill path-img"></i>
                        <i class="bi bi-circle-fill path-img"></i>
                        <i class="bi bi-geo-alt-fill destination-img"></i>
                    </div>
                </div>
                <div>
                    <p class="input-heading">Time</p>
                    <div class="time-container d-flex flex-wrap my-2">
                        <button class="time-slot d-flex align-items-center justify-content-center"
                            *ngFor="let time of timeSlots">
                            {{ time }}
                        </button>
                        <!-- have to give the property for the button coloring and discoloring-->
                    </div>
                </div>
                <button type="submit" class="submit-btn my-3" form="book-form" (click)="onSubmit()">
                    Submit
                </button>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-5 match-container">
            <h1 class="match-heading">Your Matches</h1>
        </div>
    </div>
</section>