<!-- <section class="offer-ride container-fluid ">
  <navbar></navbar>
  <div class="d-flex flex-column py-3 px-lg-5  px-sm-4 ">
    <div class="d-flex my-3 row card-container px-0 py-0">
      <div class="col-lg-6 col-sm- col-md-4 w-auto">
        <div class="first-card d-flex">
          <div class="ride-card">
            <div class="top d-flex align-items-center justify-content-between">
              <div class="heading">
                <h1>Offer a ride</h1>
                <p>we get you the matches asap !</p>
              </div>
              <div class="toggleBtn">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                </div>
              </div>
            </div>
            <div class="input-container my-4 d-flex">
              <div class="input-field w-100">
                <form action="" id="my-form" [formGroup]="offerRideForm" #form="ngForm">
                  <div>
                    <p class="input-heading mt-0">From</p>
                    <input type="text" placholder formControlName="From"/>
                    <span *ngIf="(getControl('From').touched || form.submitted) && getControl('From').invalid" class="error-msg">Source location is required</span>
                  </div>
                  <div>
                    <p class="input-heading">To</p>
                    <input type="text" placholder formControlName = 'To'/>
                    <span class="error-msg" *ngIf="(getControl('To').touched || form.submitted )&& getControl('To').invalid">Destination is required</span>
                  </div>
                  <div>
                    <p class="input-heading">Date</p>
                    <input type="date" placholder="xx/mm//yyyy" id="date" formControlName="Date"/>
                    <span class="error-msg" *ngIf="(getControl('Date').touched ||form.submitted) && getControl('Date').invalid">Date is required</span>
                  </div>
                </form>
              </div>
              <div class="src-dst-img justify-content-start px-0 d-flex flex-column align-items-center">
                <i class="bi bi-circle-fill source-img"></i>
                <i class="bi bi-circle-fill path-img"></i>
                <i class="bi bi-circle-fill path-img"></i>
                <i class="bi bi-circle-fill path-img"></i>
                <i class="bi bi-circle-fill path-img"></i>
                <i class="bi bi-geo-alt-fill destination-img"></i>
              </div>
            </div>
            <div>
              <p class="input-heading">Time</p>
              <div class="time-container d-flex flex-wrap my-2">
                <button class="time-slot d-flex align-items-center justify-content-center" *ngFor="let time of timeSlots" (click)="selectedTimeSlot(time)" [ngClass]="time==selectedTime ? 'selected-time':''">
                  {{ time }}
                </button>
                 have to give the property for the button coloring and discolorin
              </div>
              <span class="error-msg" *ngIf="selectedTime == '' && form.submitted">Time is required</span>
            </div>
             <div class="d-flex justify-content-end">
              <button  class="next-btn my-3" form="my-form" (click)="nextCard()">
                Next >>
              </button>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 my-lg-0 my-md-0 my-sm-4 my-4">
        <div class="second-card " *ngIf="isNextCard">
  
          <div class="ride-card d-flex justify-content-between flex-column">
            <div>
              <div class="top d-flex align-items-center justify-content-between">
                <div class="heading">
                  <h1>Offer a Ride</h1>
                  <p>we get you the matches asap !</p>
                </div>
                <div class="toggleBtn">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                  </div>
                </div>
              </div>
              <div class="input-container my-4 d-flex">
                <div class="input-field w-100">
                  <form action="" id="myForm" [formGroup]="stopsForm" #form="ngForm">
                    <div *ngFor="let stop of stops().controls; let i = index" formArrayName="stops">
                      <p class="input-heading" [ngClass]="i == 0 ? 'mt-0' : ''">
                        Stop {{ i+1 }}
                      </p>
                      <div class="position-relative">
                        <input type="text" name="stops" formControlName="{{ i }}" />
                        <i class="bi bi-plus position-absolute add-icon" *ngIf="i + 1 == stops().controls.length"
                          (click)="addStop()"></i>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="src-dst-img justify-content-start px-0 d-flex flex-column align-items-center">
                  <i class="bi bi-circle-fill source-img"></i>
                  <div *ngFor="let item of stops().controls; let i = index">
                    <div *ngIf="i != 0" class="d-flex flex-column">
                      <i class="bi bi-circle-fill path-img"></i>
                      <i class="bi bi-circle-fill path-img"></i>
                      <i class="bi bi-circle-fill path-img"></i>
                      <i class="bi bi-circle-fill path-img"></i>
                    </div>
                  </div>
                  <i class="bi bi-geo-alt-fill destination-img"></i>
                </div>
              </div>
            </div>
            <div class="footer">
              <div>
                <div class="available-seats row">
                  <div class="col-6">
                    <p class="input-heading mt-0 mb-3">Available Seats</p>
                    <div class="number d-flex justify-content-start">
                      <p class="d-flex ms-0" (click)="availableSeat(1)" [ngClass]="seatsAvailable == 1?'available-seat':''">1</p>
                      <p class="d-flex" (click)="availableSeat(2)" [ngClass]="seatsAvailable == 2?'available-seat':''">2</p>
                      <p class="d-flex" (click)="availableSeat(3)" [ngClass]="seatsAvailable == 3?'available-seat':''">3</p>
                    </div>
                    <span class="error-msg" *ngIf="(seatsAvailable == 0 && !isSelectedSeat)">Select available seats</span>
                  </div>
                  <div class="col-6">
                    <p class="input-heading mt-0 mb-3">Price</p>
                    <p class="price">180$</p>
                  </div>
                </div>
                <button type="submit" form="myForm" class="submit-btn my-3"  (click)="onSubmit()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section> -->